<section id="hard-and-soft-signs">
<h2>Hard and Soft Signs</h2>

    <h2>Soft Signs</h2>

        <p>Sometimes, a consonant will not be followed by any vowels at all, but will still be pronounced soft. To show that this consonant should be pronounced soft, a soft sign (ь) will be placed after it. The Russian language is full of soft signs. In fact, the vast majority of verbs are written with a soft sign in their infinitive form (e.g., читать). Because soft signs are so prominent in Russian, it is important to know how this soft signs affect pronunciation of words.</p>

        <table>
            <thead>
                <tr>
                    <th colspan=2>Words with Soft Signs (ь)</th>
                </tr>
                <tr>
                    <th>Word</th>
                    <th>Meaning</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><button type="button">говорить</button></td>
                    <td>to speak, talk, say</td>
                </tr>
                <tr>
                    <td><button type="button">семья</button></td>
                    <td>family</td>
                </tr>
                <tr>
                    <td><button type="button">любовь</button></td>
                    <td>love</td>
                </tr>
            </tbody>
        </table>

    <h2>Hard Signs</h2>

        <p>Russian also has hard signs (ъ), because sometimes a consonant will maintain its hardness even when it is followed by a soft vowel. For example, in the word объяснить (to explain), the hard sign (ъ) indicates a hard б. If there were no hard sign (<q>обяснить</q>), this б would be pronounced softly because of the я. Remember this rule: <strong>Soft signs make the consonant soft; hard signs make the consonant hard</strong>. See examples of words with hard and soft signs below.</p>

        <table>
            <thead>
                <tr>
                    <th colspan=2>Words with Hard Signs (ъ)</th>
                </tr>
                <tr>
                    <th>Word</th>
                    <th>Meaning</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><button type="button">объяснить</button></td>
                    <td>to explain</td>
                </tr>
                <tr>
                    <td><button type="button">подъём</button></td>
                    <td>wake-up time</td>
                </tr>
                <tr>
                    <td><button type="button">объём</button></td>
                    <td>volume (geometric term)</td>
                </tr>
            </tbody>
        </table>

</section>
