<section id="soft-l">
<h2>The Soft Л</h1>

  <p>The Soft Л is one of the hallmark sounds of a <q>good</q> Russian accent. However, most English speakers are not accustomed to pronouncing soft л's. In general, English speakers use hard л's when pronouncing English words. For example, try saying the word <q>love</q> a few times. As you do so, pay extra attention to the tip of your tongue. When you say the <q>L</q> of love, the tip of your tongue probably makes contact either with your upper front teeth, or with a spot right behind them (see <i>Fig. 1</i>). This is a hard л.</p>

          <figure>
    <img src= "images/loveHard.png" width= "222"/>
    <figcaption><i>Figure 1</i>: Hard Л</figcaption>
  </figure>

          <button type="button">love (hard л)</button>

  <p>Now repeat the word "love" again, only this time try moving the tip of your tongue back, so that it makes contact with the center of your hard palate, instead of with your front teeth (see <i>Fig. 2</i>). If you're doing it correctly, the L of love should start to sound different. This is a soft л. One comparison that may help is the Spanish word for hello, <i>hola</i>. When you say <i>hola</i> with a "good" Spanish accent, you are using a soft л. When you say <i>hola</i> with an American accent, you are using a hard л.</p>

  <figure>
    <img src= "images/loveSoft.png" width= "222"/>
    <figcaption><i>Figure 2</i>: Soft Л</figcaption>
  </figure>

          <button type="button">love (soft л)</button>


                <p>The table below compares words and phrases with hard л's to words and phrases with soft л's. All of the words in the right column are incorrect, and do not actually exist. However, many missionaries pronounce words this way. All the words in the left column are correct. Click on the words to compare their pronunciation. If you find that you usually use the pronunciation in the right column, strive to change these habits and mimick the pronunciation in the left column.</p>

                <table>
                    <thead>
                        <tr>
                            <th colspan=3>Soft Л vs. Hard Л (Correct vs. Incorrect Pronunciation)</th>
                        </tr>
                        <tr>
                            <th>Soft Л (Correct)</th>
                            <th>Hard Л (Incorrect)</th>
                            <th>Meaning</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr>
                            <td><button type="button">Спаситель</button></td>
                            <td><button type="button">Спасител</button></td>
                            <td>Savior</td>
                        </tr>
                        <tr>
                            <td><button type="button">Евангелие</button></td>
                            <td><button type="button">Евангелые</button></td>
                            <td>Gospel</td>
                        </tr>
                        <tr>
                            <td><button type="button">Вы знали</button></td>
                            <td><button type="button">Вы зналы</button></td>
                            <td>You knew</td>
                        </tr>
                    </tbody>
               </table>
</section>
