<section id="soft-t">
  <h2>The Soft Т</h2>

  <p>Aside from the soft л, the soft т is also an important component of a good Russian accent. Native Russians can easily hear the difference between a hard and soft т. Luckily, the soft т is much easier to pronounce than the soft л. In fact, English speakers regularly use both soft and hard т's in their speech. For example, when a т comes at the end of an English word, many English speakers use a hard т. Try saying the word "great" a few times. Chances are you don't really pronounce the final T at all--it just sounds like "grea," and then you close your mouth. This is how hard т's sound in Russian as well. Click on the word "great (hard т)" below to hear its pronunciation.</p>

          <button type="button">great (hard Т)</button>

  <p>Now try pronouncing the word great again, only this time enunciate the T more. You may notice that the T now sounds a little bit like a drum cymbal. This is because you are "breathing through the T." Some missionaries find it helpful to think of a soft T as a "T + a pinch of s." Click on the word "great (soft T)" below to compare this pronunciation with the previous one.</p>

          <button type="button">great (soft Т)</button>

  <p>The table below compares words and phrases with soft т's to those with hard т's. Two of the three words or phrases in the left column are incorrect, and do not actually exist. The word "говорит" does exist; it is the он conjugation of говорить. All the words in the right column are all correct. Click on the words to hear how they are pronounced with both hard and soft т's. Missionaries tend to pronounce words using the pronunciation in the left column. If you have that tendency, practice mimicking the correct pronunciation in the right column.</p>

          <table>
              <thead>
                  <tr>
                      <th colspan=3>Soft Т vs. Hard Т (Correct vs. Incorrect Pronunciation)</th>
                  </tr>
                  <tr>
                      <th>Soft Т (Correct)</th>
                      <th>Hard Т (Incorrect)</th>
                      <th>Meaning</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td><button type="button">читать</button></td>
                      <td><button type="button">читат</button></td>
                      <td>To read</td>
                  </tr>
                  <tr>
                      <td><button type="button">говорить</button></td>
                      <td><button type="button">говорит</button></td>
                      <td>To speak</td>
                  </tr>
                  <tr>
                      <td><button type="button">Вы знаете</button></td>
                      <td><button type="button">Вы знаетэ</button></td>
                      <td>You know</td>
                  </tr>
              </tbody>
          </table>


</section>
