<section id="other-soft-consonants">
  <h2>Other Soft Consonants</h2>

  <p>Although the soft л and soft т are the most noticeable soft consonants in Russian, nearly all of the remaining consonants have a hard and soft pronunciation. Below are a few examples of consonants in their hard and soft forms. Click on the words or phrases to hear how they are pronounced with hard pronunciation, and with soft pronunciation.</p>

  <table>
              <thead>
                <caption>Hard vs. Soft Pronunciation</caption>
                  <tr>
                      <th>Hard</th>
                      <th>Soft</th>
                      <th>Tips</th>
                  </tr>
             </thead>
              <tbody>
                  <tr>
                      <td><button type="button" data-audio="добрый-дэн.wav">добрый дэн</button></td>
                      <td><button type="button" data-audio="добрый-день.wav">добрый день</button></td>
                      <td>Soft Д = (Д + pinch of <q>z</q>)</td>
                  </tr>
                  <tr>
                      <td><button type="button" data-audio="сем.wav">сем</button></td>
                      <td><button type="button" data-audio="семь.wav">семь</button></td>
                      <td>Soft М = (М + <q>smile</q>)</td>
                  </tr>
                  <tr>
                      <td><button type="button" data-audio="вес.wav">вес</button></td>
                      <td><button type="button" data-audio="весь.wav">весь</button></td>
                      <td>Soft С = (С + <q>smile</q>)</td>
                  </tr>
                  <tr>
                      <td><button type="button" data-audio="цар.wav">цар</button></td>
                      <td><button type="button" data-audio="царь.wav">царь</button></td>
                      <td>Soft Р = (Р + <q>smile</q>)</td>
                  </tr>
              </tbody>
  </table>

  <p>The <q>Tips</q> column at the right includes some formulas for pronunciation. The word <q>smile</q> suggests that the speaker's pronunciation becomes more shallow, as if he or she is <q>smiling.</q> These soft consonants are not nearly as noticeable as the soft л or soft т. However, you might hear a slight difference in how the words are pronounced when comparing the audio from the <q>Hard Pronunciation</q> column to the <q>Soft Pronunciation</q> column.</p>

</section>
