<section id="exceptions">
  <h2>Exceptions</h2>
  <h3>Ж, Ш, and Ц (Always Hard)</h3>
  <p>There are three consonants that never change their pronunciation, even when they are followed by soft vowels. These three consonants (Ж, Ш, and Ц) are always pronounced hard. In fact they actually tend to change the pronunciation of the vowels that follow them, making them hard as well. For example, if a <q>ж</q> is followed by a <q>е,</q> that <q>e</q> will no longer be pronounced soft, but will sound more like <q>э.</q></p>

  <table>
              <thead>
                  <tr>
                      <th colspan="2">Correct vs. Incorrect Pronunciation</th>
                  </tr>
                  <tr>
                      <th>Correct Pronunciation</th>
                      <th>Incorrect Pronunciation</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td><button type="button" data-audio="жена-жэна.wav">жена (жэна)</button></td>
                      <td><button type="button" data-audio="жена-жьена.wav">жена (жьена)</button></td>
                  </tr>
                  <tr>
                      <td><button type="button" data-audio="шесть-шэсть.wav">шесть (шэсть)</button></td>
                      <td><button type="button" data-audio="шесть-шьесть.wav">шесть (шьесть)</button></td>
                  </tr>
                  <tr>
                      <td><button type="button" data-audio="церковь-цэрковь.wav">церковь (цэрковь)</button></td>
                      <td><button type="button" data-audio="церковь-цьерковь.wav">церковь (цьерковь)</button></td>
                  </tr>
                  <tr>
                      <td rowspan="3"><button type="button" data-audio="цель-цэль.wav">цель (цэль)</button></td>
                      <td><button type="button" data-audio="цель-цьел.wav">цель (цьел)</button></td>
                  </tr>
                  <tr>
                      <td><button type="button" data-audio="цель-цьель.wav">цель (цьель)</button></td>
                  </tr>
                  <tr>
                      <td><button type="button" data-audio="цель-цэл.wav">цель (цэл)</button></td>
                  </tr>
              </tbody>
  </table>

  <p>As you can tell, the word цель can be very problematic, because it starts with a ц and ends with a soft л. The pronunciation for this word in the left column is correct. The pronunciations in the right column are all of the ways missionaries tend to mispronounce this difficult word.</p>


			<h3>Ч and Щ (Always Soft)</h3>

				<p>There are two consonants in Russian that are always soft, regardless of whether a soft or hard vowel follows them. These soft consonants (Ч and Щ) tend to change the pronunciation of vowels that follow them, making them soft as well. For example, if a <q>ч</q> is followed by an <q>а,</q> the <q>a</q> will actually sound like a <q>я.</q></p>

				<table>
                    <thead>
                        <tr>
                            <th colspan="2">Correct vs. Incorrect Pronunciation</th>
                        </tr>
                       <tr>
                            <th>Correct</th>
                            <th>Incorrect</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><button type="button" data-audio="сейчас-сейчяс.wav">сейчас (сейчяс)</button></td>
                            <td><button type="button" data-audio="сейчас-сейчъас.wav">сейчас (сейчъас)</button></td>
                        </tr>
                        <tr>
                            <td><button type="button" data-audio="крещение.wav">крещение</button></td>
                            <td><button type="button" data-audio="крешение.wav">крешение</button></td>
                        </tr>

                    </tbody>
				</table>

</section>
