:root {
    font-size: 10px;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

th {
    text-transform: uppercase;
}