<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{site.title}}</title>
  <script src="{{site.baseurl}}/js/audio.js" defer></script>
</head>
<body>
  {% include 01-hard-and-soft-vowels.html %}
  {% include 02-hard-and-soft-consonants.html %}
  {% include 03-hard-and-soft-signs.html %}
  {% include 04-soft-l.html %}
  {% include 05-soft-t.html %}
  {% include 06-other-soft-consonants.html %}
  {% include 07-exceptions.html %}
  {% include 08-practice.html %}
  {% include footer.html %}
</body>
</html>
