:root {
  --red: #f00;
  --salmon: #ff7878;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

header {
  background-color: var(--red);
  color: var(--salmon);
  height: 100px; /* Change this */
  display: flex;
  justify-content: space-between;
}

div#logoTitleContainer {
  display: flex;
}

div#logoTitleContainer > a {
  color: var(--salmon);
  font-weight: 700;
}

nav#mainNav ol {
  list-style-type: decimal-leading-zero;
}
